<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<div id="global-footer" layout:fragment="footer">
		<footer class="page-footer font-small">
			<div class="container">
				<div class="footer-copyright text-center small">
					© 2018 Copyright: <a
						href="https://dj.ezenac.co.kr/">
						이젠컴퓨터 아카데미</a>
				</div>
			</div>

		</footer>
	</div>

</body>
</html>