<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"> 
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
   <div id="global-header" layout:fragment="header">
   	<header>
	   	<div id="row">
	   		<div class="col-md-9">
	   			<a href="/">로고</a>
	   		</div>
	   		<div class="col-md-3">
	   			<a href="/contact">연락처</a>
	   		</div>
	   	</div>
   	</header>
   </div>

</body>
</html>