<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"> 
<head>
<meta charset="UTF-8">
<title layout:title-pattern="$DECORATOR_TITLE - $CONTENT_TITLE">
문제은행
</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
	<link th:href="@{/question_bank.css}" rel="stylesheet"/>

</head>
<body>
    <!-- 헤더 영역 -->
    
    <!--  
	<div layout:replace="~{layout/header::header}"></div>
    -->
    
    <!-- 네비게이션 바 -->
    <div layout:replace="~{layout/navbar::navbar}">
    
    </div>
    
    <div class= "container">
		<div class="top_bottom_margin">
			<nav aria-label="breadcrumb">
  			<ol class="breadcrumb">
			    <li class="breadcrumb-item"><a th:href="@{/question/home}">Home</a></li>
			    <li class="breadcrumb-item" th:inline="text">[[${menuTitle}]]</li>
			    <li class="breadcrumb-item active" aria-current="page" th:inline="text">[[${activeMenuTitle}]]</li>
  			</ol>
		</nav>
			
			<div layout:fragment="content" th:remove="tag">
			
			</div>
		</div>
	</div>

	<!-- 푸터 영역 -->
	 
	<div layout:replace="~{layout/footer::footer}"></div>
	
	
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>