<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
  <div id="global-navbar" layout:fragment="navbar">
    <nav class="navbar nav-pills navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">문제은행</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" href="home">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                     문제관리
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <a class="dropdown-item" href="add">문제 출제</a>
                   <a class="dropdown-item" th:classappend="${#httpServletRequest.getRequestURI()=='/question/index' ? 'active':''}" 
                   href="list">문제 보기</a>
                </div>
              </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                 테스트
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="tested">시험보기</a>
                <a class="dropdown-item" href="">나의 시험 결과</a>
              </div>
            </li>
          </ul>
        </div>
        <span class="navbar-text">
            <a class="nav-link" href="login">로그인</a>  
          </span>
          <span class="navbar-text">
            <a class="nav-link" href="register">회원가입</a>
          </span>
    </nav>
  </div>
</body>
</html>